auto-save-list/
tramp
.session
*~
[#]*[#]
.\#*
elpa/archives/gnu/archive-contents
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
elpa/*.txt
ac-comphist.dat
session.*
HyperSpec/*
unused-*
url/*
eshell/
oyhy/.emacs.desktop
