;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon May 27 21:23:30 2013
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("deskt"))
(setq regexp-search-ring nil)
(setq register-alist '((121 file . "d:/pro/emacs-24.1/bin") (112 file . "d:/pro/emacs-24.1/site-lisp/") (117 file . "~/.emacs.d/emacs-shortcuts.org") (97 file . "D:/My Document/") (111 file . "~/.emacs.d/") (101 file . "~/.emacs.d/emacs-note.org") (105 file . "~/.emacs.d/init.el")))
(setq file-name-history '("g:/backup/HOME/.emacs.d/oyhy-copy/my-ido.el" "~/.emacs.d/oyhy/requires.el" "~/.emacs.d/oyhy/my-ido.el" "g:/backup/HOME/.emacs.d/oyhy-copy/my-ido.el" "d:/backup/HOME/.emacs.d/oyhy/my-ido.el" "d:/backup/HOME/.emacs.d/oyhy/requires.el" "d:/school/party/201303/new-o.org" "d:/school/party/201303/‘Å·‘Ñô‘ºê‘Óî‘×é.org" "~/.emacs.d/oyhy/minor-mode.el" "~/.emacs.d/oyhy/defuns.el" "~/.emacs.d/bookmarks" "~/.emacs.d/oyhy/java-config.el" "~/.emacs.d/oyhy/env.el" "~/.emacs.d/oyhy/emacs-lisp-config.el" "~/.emacs.d/oyhy/common-lisp-config.el" "~/.emacs.d/oyhy/c++-config.el" "~/.emacs.d/oyhy/bindings.el" "~/.emacs.d/oyhy/base64.el" "~/.emacs.d/init.el" "~/.emacs.d/scheme-mode-color.el" "d:/pro/emacs-24.1/etc/NEWS" "~/.emacs.d/oyhy/my-time.el" "~/.emacs.d/oyhy/programs.el" "~/.emacs.d/oyhy/requires.el" "d:/My Document/booknotes/huffman.lisp" "~/.emacs.d/emacs-shortcuts.org"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "d:/backup/HOME/.emacs.d/oyhy/my-ido.el"
  "my-ido.el"
  'emacs-lisp-mode
  '(abbrev-mode visual-line-mode global-visual-line-mode auto-complete-mode xmsi-mode yas-minor-mode linum-mode paredit-mode hs-minor-mode eldoc-mode)
  1795
  '(1795 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos) (overwrite-mode) (truncate-lines)))

(desktop-create-buffer 206
  "d:/backup/HOME/.emacs.d/oyhy/requires.el"
  "requires.el"
  'emacs-lisp-mode
  '(abbrev-mode visual-line-mode global-visual-line-mode auto-complete-mode xmsi-mode yas-minor-mode linum-mode paredit-mode hs-minor-mode eldoc-mode)
  699
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos) (overwrite-mode) (truncate-lines)))

